
<div id="mytablesContainer" class="navbar-text" style="text-align:left;">
    <div class="accordion" id="accordionTables">
        <div class="accordion-group">
            <div class="accordion-heading lnh20">
                <a class="accordion-toggle nolink text-shadow" data-toggle="collapse" data-parent="#accordionTables" href="#collapsePoints">
                    <i class="icon-asterisk"></i> Points
                </a>
            </div>
            <div id="collapsePoints" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul id="lstPoints" class="nav nav-list scrollbar fff">

                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading lnh20">
                <a class="accordion-toggle nolink text-shadow" data-toggle="collapse" data-parent="#accordionTables" href="#collapseLines">
                    <i class="icon-minus"></i> Lines
                </a>
            </div>
            <div id="collapseLines" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul id="lstLines" class="nav nav-list scrollbar fff">

                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-group">
            <div class="accordion-heading lnh20">
                <a class="accordion-toggle nolink text-shadow" data-toggle="collapse" data-parent="#accordionTables" href="#collapsePolys">
                    <i class="icon-sign-blank"></i> Polygons
                </a>
            </div>
            <div id="collapsePolys" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul id="lstPolygons" class="nav nav-list scrollbar fff">

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


