<div id="divHeader" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">pgg-studio</a>
      <div class="nav-collapse">
        <p class="navbar-text pull-right">
          Logged in as <a href="#" class="navbar-link">Username</a>&nbsp; | &nbsp;
          <a href="/register" class="navbar-link nolink"><i class="icon-user icon-medium"></i> Register</a>&nbsp; | &nbsp;
          <a href="#" data-toggle="modal" data-target="#loginform" role="button" class="navbar-link nolink"><i class="icon-signin icon-medium"></i> Login</a>&nbsp;&nbsp;
        </p>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>